body {
    background: linear-gradient(to bottom, #e6e4e4 50%, #005F57 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.navbar-custom {
  background-color: #005F57;
  padding: 0.2rem 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-custom .nav-link {
  font-weight: 500;
}
.logo {
  width:200px;
  height: 70px;
  size-adjust: auto;
}
h2 {
  padding-top: 1rem;
  margin-left: 15rem;
}
h3 {
  border-left: 5px solid #005F57;
  padding-left: 5px;
}
h4 {
  margin-right: 200px;
}
h5 {
  text-align: center;
  padding-top: 5px;
  border-bottom: 1px solid #005F57;
  border-bottom-left-radius: 40px;
   border-bottom-right-radius: 40px;
}
.carousel-item {
      height: 100vh;
      background-size: cover;
      background-position: center;
      position: relative;
    }
    .carousel-caption {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      color: white;
    }
    .brt {
      font-size: 3rem;
      font-weight: bold;
      margin-right: 220px;
    }
    .carousel-caption p {
      font-size: 1rem;
    }
    .carousel-caption .btn {
      margin-top: 1rem;
    }    
.col {
  background-color: rgb(255, 255, 255);
}
.prodi img {
  width: 100px;
}
.tbl {
  width: 180px;
  height: 35px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  color: #005F57;
}
.tbl a:hover {
  color: #e6ae07;
}
.mpi {
  width: 300px;
  object-fit: cover;
    border-radius: 10px;
    flex-shrink: 0;
    float: left;
    padding-right:  10px;
}
.ap {
   width: 300px;
  object-fit: cover;
    border-radius: 4px;
    flex-shrink: 0;
    float: left;
}
.trpl {
   width: 300px;
  object-fit: cover;
    border-radius: 4px;
    flex-shrink: 0;
    float: left;
}
.ah {
   width: 300px;
  object-fit: cover;
    border-radius: 4px;
    flex-shrink: 0;
    float: left;
}
.pka {
   width: 300px;
  object-fit: cover;
    border-radius: 4px;
    flex-shrink: 0;
    float: left;
}
p {
  font-size: 20px;
  text-align: center;
  color: #414141;
}
.mitra {
  margin-left: 120px;
}
.social {
  width: 250px;
  height: 30px;
}
.social a{
  color: whitesmoke;
  text-decoration: none;
}
.social a:hover {
  color: rgb(151, 151, 247);
}
.social img {
  width: 30px;
}
.footer {
  left: 0;
    bottom: 0;
    width: 100%;
    height: 230px;
    background-color: #414141;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 4rem;
    position: relative;
}
small {
  border-top: 2px solid white;
  padding-top: 5px;
}





